<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
	<title>书籍详情</title>
	<link rel="stylesheet" type="text/css" href="src/detail-book/index.css" />
</head>
<body>
<script type="text/tmpl" id="J-tmpl-page">
	<section class="detail-summary dib-wrap">
		<div class="summary-photo dib" style="background-image: url(<%= bookInfo.pagePic %>);">
			<i class="icon icon-play"></i>
			<p style="display:none;">有<b>1234</b>书单收录</p>
		</div>
		<ul class="summary-info dib">
			<li class="summary-name"><h1><%= bookInfo.name %></h1></li>
			<li class="summary-score">
				<div class="score-star dib-wrap">
					<div class="star-bar dib">
						<i></i><i></i><i></i><i></i><i class="last"></i>
						<div class="star-bar-inner" style="width: <%= bookInfo.score/10*100 %>%;"><i></i><i></i><i></i><i></i><i class="last"></i></div>
					</div>
					<em class="dib"><%= bookInfo.score %>分</em>
				</div>
			</li>
			<li class="summary-author"><%= bookInfo.authorName %></li>
			<li><%= bookInfo.press %></li>
		</ul>
	</section>
	<section id="J-summary-container" class="detail-section">
	</section>
	<section class="detail-section detail-section-row detail-comments">
		<header>
			<h2>最新点评 ( <span id="J-comments-total"></span> )</h2>
		</header>
		<div id="J-comments-container" class="comments">

		</div>
	</section>
</script>
<script type="text/tmpl" id="J-summary-tmpl">
<% if(list.length > 0){ %>
	<header class="dib-wrap">
		<h2 class="dib">书摘( <%= list.length %> )</h2>
		<a class="dib" href="list-book.html?id=<%= d.id %>">查看全部</a>
	</header>
	<div class="detail-imgs dib-wrap">
		<%var sIndex = 0; _.each(list, function(item){ %>
			<% _.each(item.bookTalk, function(talk){%>
			<% if(sIndex++ < 4){ %>
			<div class="img-square dib" style="background-image: url(<%= talk.list[0] && talk.list[0].content.replace('.jpg', '_240x240.jpg') %>);"></div>
			<% } %>
			<% }) %>
		<% }) %>
	</div>
<% } %>
</script>
<script type="text/tmpl" id="J-comments-tmpl">
<% if(list.length){ %>
	<% _.each(list, function(comment, i){ %>
	<div class="comment-item dib-wrap">
		<a href="detail-book-comment.html?id=<%= comment.bkCommentIdStr || comment.bkCommentId %>">
		<div class="comment-img img-square dib" style="background-image: url(<%= comment.userEntity.face_url.replace(/(_\d+x\d+)?\.(jpg|png)$/, '_80x.$2') %>);"></div>
		<ul class="comment-c dib">
			<li class="comment-author"><%= comment.userEntity.nickName %></li>
			<li class="comment-date"><%= comment.btime %></li>
			<li class="comment-summary"><%= comment.contList[0].content %></li>
		</ul>
		<div class="comment-good"><i class="icon icon-good"></i><span><%= comment.zNum %></span></div>
		</a>
	</div>
	<% }) %>
<% } %>
</script>

<div id="J-page-container"></div>

<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/underscore/underscore-min.js"></script>
<script src="src/detail-book/index.js"></script>
</body>
</html>